<html>
    <body>
        <h1>Youku Video results for <%= search %></h1>
        <% if (results.length) { %>
            <ul>
                <% for (var i=0, imax=results.length; i<imax; i++) { %>
                <li>
                    <a href=<%= results[i].link %> ><%= results[i].title %></a> - <em><%= results[i].category %></em>
                    <br>
                    <img src=<%= results[i].thumbnail %> >
                </li>
                <% } %>
            </ul>
        <% } else { %>
            <p>No results</p>
        <% } %>
    </body>
</html>
